@import url('https://fonts.cdnfonts.com/css/chalkduster');

:root {
	--dark-bg-color: #000;
	--light-bg-color: #fff;

	--dark-grey-line-color: #aaa;
	--light-grey-line-color: #666;
	
	--dark-accent-color: #5cabab;
	--light-accent-color: #a35454;
	
	--dark-text-color: white;
	--light-text-color: black;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;
	color: var(--dark-text-color);
	show: true;
	transition: 200ms ease-in-out;
}

body {
   font-family: Arial, sans-serif;
	background-color: black;
	width: device-width;
}

header {
   background-color: black;
	color: var(--dark-text-color);
   padding: 1.2em 0.4em;
	height: 4.85em;
   text-align: center;
	border-bottom: 0.1rem solid #aaa;
}

nav {
	padding-top: 0.3em;
	padding-right: 0.0em;
	font-family: Arial, sans-serif;
	color: var(--dark-text-color);
	margin-bottom: 0em;
	}
   .navbar {
		list-style-type: none;
   		margin-top: 0.7em;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin-left: 0em;
		margin-right: 0em;
   	}
		.logo {
			color: #5cabab;
   			text-decoration: none;
			font-weight: bold;
			background-color: #000;
			width: 12.5em;

			border: 0.1rem solid #aaa; 
			padding: 0.3em;
			margin-right: 1em;
			margin-left: 0em;
			font-size: 1.61em;
			cursor: default;
		} 
		a {
    		text-decoration: none;
    		font-weight: bold;
			background-color: #000;
			width: 7.3em;
			color: var(--dark-text-color);

			border: 0.1rem solid #aaa; 
			padding: 0.3em;
			font-size: 1.1em;
			cursor: pointer;
		} .hover:hover {
			color: var(--dark-accent-color); 
			font-size: 1.3em;
			text-decoration: none;
    		font-weight: bold;
			background-color: #000;
			width: 7.3em;

			border: 0.1rem solid #aaa; 
			padding: 0.3em;
		}
		.zzs-btn {
			width: 10em;
		}
		.admin-login {
			height: 1.7em;
			width: 2.1em;
			align-content: center;
			background-color: #000;
			cursor: pointer;
			border: 0.1rem solid #aaa; 
		} .admin-login:hover {
			border: 0.1rem solid var(--dark-accent-color); 
			height: 1.7em;
			width: 2.1em;
			align-content: center;
			background-color: #000;
		}
		.logout {
			font-size: 0.8em;
			font-weight: none;
			width: 4em;
			cursor: pointer;
			color: var(--dark-grey-line-color);
		} .logout:hover {
			color: var(--dark-accent-color);
			font-size: 0.8em;
			font-weight: none;
			width: 4em;
		}
}

section {
	margin-top: 0em;
	padding: 2.5em 1.2em;
	text-align: center;
	background-color: black;
}

.game-preview {
	display: block;
	transition: 200ms ease-in-out;
   padding: 0em 0em;
	margin-top: 0em;
	background: black url("https://i.imgur.com/47ZVFCm.jpeg") no-repeat fixed;
	background-position: center top;
	background-size: contain;
	height: 80em;
	.game-title {
		padding-top: 5em;
		font-family: "Chalkduster", cursive;
		color: var(--dark-text-color);
		font-size: 5em;
		text-align: center;
		cursor: default;
	}
	.game-subtitel {
		padding-top: 0.5em;
		font-family: "Chalkduster", cursive;
		color: var(--dark-text-color);
		font-size: 1.7em;
		text-align: center;
		cursor: default;
	}
}

.patchnotes-site {
	margin-top: 8em;
	margin-bottom: 10em;
}


/*--Mitwirkende--*/

#mitwirkende .team {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 2em;
	margin-bottom: 10em;
	cursor: default;
}
	
#mitwirkende .person {
   display: grid;
	place-items: center;
	margin: 2em;
}

#mitwirkende .name {
   color: #5cabab;
   text-decoration: none;
	font-weight: bold;
	background-color: #000;
	width: 12em;
	text-align: center;

	border: 0.1rem solid #aaa; 
	padding: 0.3em;
	margin-right: 2em;
	margin-left: 2em;
	font-size: 1.61em;
	z-index: 69;
}
	
#mitwirkende .job {
	color: var(--dark-text-color);
   text-decoration: none;
	background-color: #000;
	width: 18em;
	text-align: center;

	border: 0.1rem solid #aaa; 
	padding: 0.3em;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-right: 1.8em;
	margin-left: 1.8em;
	margin-bottom: 3em;
	font-size: 1.3em;
	
	margin: auto;
	position: relative;
	top: -1em;
}


#patchnotes {
	margin-bottom: 5em;
	padding-bottom: 5em;
	cursor: default;
}

.patch-titel{
	color: #5cabab;
   text-decoration: none;
	font-weight: bold;
	background-color: #000;
	width: 12em;
	text-align: center;

	border: 0.1rem solid #aaa; 
	padding: 0.3em;
	margin-right: 2em;
	margin-left: 5em;
	font-size: 1.61em;
}

.patch-description{
	color: var(--dark-text-color);
   text-decoration: none;
	background-color: #000;
	width: 85%;
	text-align: left;

	border: 0.1rem solid #aaa;
	padding: 1.5em;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-right: 2em;
	margin-left: 2em;
	margin-bottom: 3em;
	font-size: 1.3em;
	
	margin: auto;
	position: relative;
	top: -1em;
	z-index: -4;
}

.patch {
	margin: 2em 0em;
}

.active-patch .patch-description {
	border-color: #5cabab; 
}

.patchnotes-btn {
	color: var(--dark-text-color);
   text-decoration: none;
	background-color: red;
	width: 35%;
	text-align: left;
	border-color: #00000000;

	margin: auto;
	margin-right: 2em;
	margin-left: 10%;
	margin-bottom: 3em;
	font-size: 1.3em;
	cursor: pointer;
} .patchnotes-btn:hover {
	color: var(--dark-accent-color);
	margin-left: 15%;
}


.download-button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3em;
	cursor: pointer;
}

#download .download-btn {
	display: inline-block;
	align-self: center;
   padding: 0.2em 1.2em;
	margin: 1em;
   background-color: var(--dark-bg-color);
   color: var(--dark-text-color);
	border-color: var(--dark-accent-color);
   text-decoration: none;
	align: center;
	font-size: 1.4em;
	cursor: pointer;
	} .download-btn:hover {
   background-color: var(--dark-accent-color);
	font-size: 2em;	
}

footer {
   background-color: black;
   color: var(--dark-text-color);
   padding: 1.3em;
   text-align: center;
	cursor: default;
}







.greyline {
	background-color: black;
	color: black;
   padding: 0em;
	margin-top: 3em; 
	height: 0.1em;
   text-align: center;
	border-bottom: 0.1rem solid var(--dark-grey-line-color); 
}

.titel {
    font-family: Arial, sans-serif;
    color: #5cabab;
    text-decoration: none;
    font-weight: bold;
    background-color: #000;
    border: 0.1rem solid #aaa;
    padding: 0.3em;
    font-size: 2.3em;
    text-align: center;
    width: 40%;
	 margin: 0 auto;
    position: relative;
    top: -0.65em;
}




.modal {
  position: fixed;
  display: none;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  max-width: 50%;
  max-height: 40%;
  border: 0.1em solid #5cabab;
  background-color: var(--dark-bg-color);
  z-index: 200;
  transition: 200ms ease-in-out;

}

.modal-header {
	padding: 0.0em 0em;
	align-items: center;
	margin-left: 0em;
	height: 20%;
	}
	.modal-titel {
		font-family: Arial, sans-serif;
    	color: #5cabab;
    	text-decoration: none;
    	font-weight: bold;
    	background-color: #000;
    	border: 0.1rem solid #aaa;
    	padding: 0.3em;
    	font-size: 2.3em;
    	text-align: center;
    	width: 60%;
	 	margin: 0em auto;
    	position: relative;
    	top: -0.65em;
	}
	.close {
		background-color: var(--dark-bg-color);
		border-color: var(--dark-bg-color);
		right: 0;
		font-size: 1.8em;
		color: white;
		cursor: pointer;
		text-align: center;
		position: fixed;
		top: 0.1em;
		right: 0.4em;
	}
	.close:hover {
		color: #5cabab;
	}


.modal-body {
	height: 80%;
	color: var(--dark-text-color);
   text-decoration: none;
	font-size: 1.6em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-form {
	color: var(--dark-text-color);
	width: 100%;
	text-align: center;
	span {
		color: var(--dark-grey-line-color);
	}
}

.modal-form-input {
	border-radius: 0em;
	border: 0.1rem solid white;
	width: 45%;
	font-size: 1em;
	background-color: var(--dark-bg-color);
	padding-left: 2%;
	margin-top: 1em;
	transition: 0.2s;
}

.modal-form-input:hover {
	border: 0.1rem solid var(--dark-accent-color);
	width: 55%;
	font-size: 1em;
	background-color: var(--dark-bg-color);
	padding-left: 2%;
	margin-top: 1em;
}

.submit-button {
	margin: 0.5em;
	padding: 0.4em;
   background-color: var(--dark-bg-color);
   color: var(--dark-text-color);
	border-color: var(--dark-grey-line-color);
   text-decoration: none;
	align: center;
	font-size: 0.7em;
}

.submit-button:hover {
	background-color: var(--dark-accent-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

.hidden {
	display: none;
	transition: 200ms ease-in-out;
}
