@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* Jannik war hier */
*, *::before, *::after {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

#login-form {
    display: none;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #00000082;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}

.login-screen {
    background-color: #1a1a1a;
    border: #00e5ff 0.08rem solid;
    border-radius: 0.6rem;
    padding: 1rem 3rem;
    display: block;
    text-align: center;
    z-index: 2;

    h3 {
        line-height: 0;
        margin-bottom: 3rem;
    }

    #is-correct {
        font-size: 14px;
        color: #ccc;
    }

    div {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        align-items: center;


        input {
            margin-left: 1rem;
            font-size: 14px;
            border: #00e5ff 0.06rem solid;
            background-color: #111;
            color: #fff;
            padding: 0.5rem;
        }

        input:hover {
            border-color: #0092a3;
        }
    }

    button {
        border: #00e5ff 0.06rem solid;
        font-size: 14px;
        background-color: #111;
        color: #fff;
        padding: 0.5rem;
        margin-top: 1.5rem;
    }

    button:hover {
        border-color: #0092a3;
        cursor: pointer;
    }
}

#add-new-patchnote {
    display: none;
}

#add-new-patchnote form{
    background-color: #333;
    padding: 1rem;
    border-radius: 10px;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    word-wrap: normal;

    div {
        display: flex;
        align-items: center;
        justify-content: start;
        input,textarea {
            margin: 0.63rem 0 0.31rem;
            font-size: 1.13rem;
            font-weight: bold;
            font-family: "Inter", sans-serif;
            background-color: #333;
            border: none;
            color: #fff;
            width: 100%;
        }
        textarea {
            font-size: 14px;
            color: #ccc;
            margin: 0;
            font-weight: normal;
            resize: none;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
        textarea::-webkit-scrollbar {
            display: none;
        }
    }

    .buttons {
        margin-top: 1rem;
        justify-content: space-between;
        button {
            background-color: #00e5ff;
            color: #000;
            border: none;
            border-radius: 5px;
            padding: 0.5rem 1rem;
            font-size: 14px;
        }

        button:hover {
            cursor: pointer;
        }
    }
}



.container {
    width: 90%;
    margin: 0 auto;
    max-width: 100vw;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: #111;
    position: sticky;
    top: 0;
    left: 0;
}

header img {
    width: 50px;
    height: 50px;
    margin-left: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.25rem;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 0.8rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.icons,
.menu-bars {
    display: flex;
    gap: 15px;
    margin-right: 1rem;
    text-decoration: none;
}

.icons i,
.menu-bars i {
    color: #00e5ff;
    font-size: 20px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.menu-bars {
    display: none;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.hero h1 {
    font-size: 36px;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #ccc;
}

.hero .underline {
    width: 100px;
    height: 3px;
    background-color: #00e5ff;
    margin: 20px auto 0;
}

.section {
    padding: 50px 0;
}

.section h2 {
    font-size: 1.50rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.section p {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
}

.contributors {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.patchnotes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.patchnotes-all {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.6rem;
}

.contributor,
.patchnote {
    background-color: #333;
    padding: 1rem;
    border-radius: 10px;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    word-wrap: normal;
}

.recent-patch {
    border: #00e5ff 0.14rem solid;
}

.contributor img,
.patchnote img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.contributor h3,
.patchnote h3 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.contributor p,
.patchnote p {
    font-size: 14px;
    color: #ccc;
    margin: 0;
}

.patchnote i {
    margin-left: 0.4rem;
}

#patchnotes a {
    text-decoration: none;
    color: #fff;
}

.download {
    text-align: center;
    padding: 3rem 0;
}

.download a div {
    background-color: #00e5ff;
    padding: 1rem 1rem;
    border-radius: 0.31rem;
    overflow: hidden;
    min-width: fit-content;
    max-width: 70%;
    margin: 0 auto;
}

.download a {
        color: #000;
        text-decoration: none;
        font-weight: bold;
        margin: 1rem 1rem;
        text-align: center;
}

footer {
    text-align: center;
    padding: 1.5rem 0.5rem;
    background-color: #111;
    display: grid;
    justify-items: center;
}

footer p {
    margin: 5px 0;
    color: #999;
}

footer a {
    color: #00e5ff;
    text-decoration: none;
}

footer .icons {
    margin-top: 10px;
}

footer .icons i {
    color: #999;
}


/* --------------- MEDIA QUERIES --------------- */


@media screen and (max-width: 49.75rem) {

    .contributors {
        grid-template-columns: 1fr;
    }
    .contributor {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        overflow-wrap: anywhere;
        flex: 1 1 100%;

        .contributer-title {
            margin-left: 0.5rem;
        }

        img {
            margin-left: auto;
            margin-right: 0.4rem;

            width: 4rem;
            height: 4rem;
        }
    }

    .patchnote {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        overflow-wrap: anywhere;
        flex: 1 1 100%;

        .contributer-title {
            margin-left: 0.5rem;
        }

        img {
            margin-left: auto;
            margin-right: 0.4rem;

            width: 4rem;
            height: 4rem;
        }
    }

    .patchnotes {
        flex-direction: column;
    }



    nav ul li {
        display: none;
    }
    .icons.responsive {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        i {
            padding-bottom: 0.5rem;
        }
    }

    nav {
        display: inline;
        align-items: center;
        flex: 1;
    }


    .menu-bars {
        display: block;
    }

    nav.responsive {
        position: relative;
        margin-top: 0.55rem;
    }

    .menu-bars.responsive {
        right: 0;
        top: 0;
        position: absolute;
        margin-right: 1rem;
        margin-top: 1.94rem;
    }

    nav.responsive ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1.25rem;
        margin: 0;
        padding: 0 0.6rem;
        line-height: 0.3rem;

        li {
            display: inline;
        }
    }


    .login-screen {
        text-align: center;
        padding: 1rem 1.8rem;
        div {
            flex-direction: column;
            label {
                margin-bottom: 0.5rem;
            }
            input {
                margin-left: 0;
            }
        }
    }

}

@media screen and (max-width: 20.25rem){
    #add-new-patchnote form {
        .buttons {
            flex-direction: column;
            button {
                width: 90%;
                margin-bottom: 0.4rem;
            }
        }
    }
}


